[paths]
source =
   {{cookiecutter.project_slug}}
   */{{cookiecutter.project_slug}}

[run]
source =
    {{cookiecutter.project_slug}}

omit =
    *{{cookiecutter.project_slug}}/__main__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
