[paths]
source =
   {{cookiecutter.project_slug}}
   */site-packages/{{cookiecutter.project_slug}}

[run]
include =
    {{cookiecutter.project_slug}}/*

source =
    {{cookiecutter.project_slug}}
    tests

omit =
    *{{cookiecutter.project_slug}}/__main__.py
